{% load humanize %}
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6">
  {% for product in products %}
    <div class="border rounded-lg p-3 md:p-4 shadow-md hover:shadow-lg transition group">
      <a href="{% url 'product_detail' product.slug %}" class="block">
        <div class="overflow-hidden rounded-md mb-4">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover transition-transform duration-300 group-hover:scale-105">
        </div>
        <h3 class="text-lg md:text-xl font-semibold font-heading truncate">{{ product.name }}</h3>
        <p class="text-gray-600 dark:text-gray-300 font-body">₦{{ product.base_price|intcomma }}</p>
        <small class="text-gray-600 dark:text-gray-300 font-body mb-2">{{ product.stock_quantity }} items left</small>
      </a>
    </div>
  {% empty %}
    <p class="text-gray-600 dark:text-gray-300 font-body text-center col-span-full">No products found.</p>
  {% endfor %}
</div>
